*{margin: 0;
    padding:0 ;
}
    body {
      
      background-color: white;
      color: black;
      
  }

  .dark-mode  {
      background-color: black;
      color: white;
      
  }
        
    
    nav{
        
        display: flex;
        justify-content: space-around ;
        align-items: center;
       height: 35px;
       background: #050C1B linear-gradient(90deg, #050C1B, #f54300 15%, #c95d23 35%, #050C1B 50%);
    }
    nav ul {
        display: flex;
      
      float: right;
      margin-right: -160px;
    }
    nav ul li{
        list-style: none;
        margin: 0 2px;  
    }
    nav ul li a{
        text-decoration: none;
        color: #f6f4f4;

    }
    nav ul li a:hover{
        color: #f34c05;
    }
    
    main hr{
        border: 0;
        background: #d10d0d;
        height: 1.2px;
        margin: 40px 54px;
    }
    .left {
        font-size: 3rem;
        font-family: sans-serif;
        color: #ffffff;   
    }
    
    .first {
        display: flex;
        justify-content: space-around;
        margin: 80px;
    }
    .leftsection{
        margin-top: -82px;
        max-width: 12.923em;
    padding-bottom: 5px;
        width: 50%;
        font-size: 35px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 500;
    }
    .red{
        color: #f96503;
    }
    #element{
        color: #d10d0d;
    }
    
    .rightsection{
       padding: -71px;
       margin: -73px;
       margin-inline-end: -126px;
    }
    .SW{
      padding: 1px;
      margin: 1px;
      margin-inline-start: 1306px;
      margin-top: -149px;
    }

    .Center{
      padding: 70px 0;


      text-align: center;
    }
   .para{
    font-weight: 500;
    font-size: 2rem;
   }
   /* Button CSS */
   button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
 


 /* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #414141;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #f54300;;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border: 2px solid #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

.second h2{
  margin: 53px;
  font-size: 2rem;
  text-align: start;

}
.secondsection{
  text-align: center;
  max-width: 80vw;
  margin: auto;
  height: 42vh;

}
.secondsection h2 {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  
}
.secondsection img{
  height: 80px;
  padding: 1px 84px;
  left: 10px;
}
.secondsection img:hover{
  opacity:1.5;
  height: 95px;
    left: 20%;
  animation: move 3s infinite;

}
footer
{
  background: #222121;
  height: 233px;
  display: flex;
  flex-wrap: nowrap;
    flex-direction: column;
  
}
.footer-basic {
  padding:40px 0;
  background-color:#222222;
  color:#f4eeee;
  padding:30px 262px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:left;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  text-align:center;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-top: 0px;
  padding-bottom:-10px;
}

.footer-basic .social img{
  font-size:24px;
  width: 62px;
  height:60px;
  line-height:40px;
  display:inline-block;
  text-align:left;
  border-radius:50%;
  
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#f50b0b;
  margin-bottom:0;
}
.footer-basic .info{
  width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;


  
}
.footer-basic .info a{
  text-decoration:none;
  color:grey;
  transition:0.5s;
  
  }
  
  .footer-basic .info a:hover{
  color:#fff;
  }
  
  .footer-basic .info ul{
  width:100%;
  }
  
  .footer-basic .info ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  
  
  @media (max-width:720px){
  .footer-basic{
  text-align:left;
  padding:5%;
  }
  .footer-basic .info ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer-basic .info a i{
  margin:0% 3%;
  }
  }
